@media (max-width:1250px){
    .benefits__img {
        width: 40%;
    }
}
@media (max-width: 1100px){
    .rent__inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .rent__content {
        width: 100%;
        margin-bottom: 30px;
    }
}
@media (max-width: 1000px){
    .top__heading {
        display: block;
    }
    .top__content {
        width: 100%;
        padding-top: 30px;
    }
    .top__slider {
        width: 100%;
    }
    .top__bottom {
        display: block;
    }
    .top__items {
        width: 100%;
    }
    .top__links {
        padding-top: 50px;
        padding-right: 0;
        text-align: center;
    }
    .benefits__items {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .benefits__content {
        width: 100%;
        margin-top: 30px;
    }
    .benefits__text + .benefits__text {
        width: 100%;
    }
    .footer .menu {
        display: none;
    }
}
@media (max-width: 860px){
    .menu {
        order: 1;
    }
    .menu__list {
        display: block;
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        background-color: #332208;
        text-align: center;
        padding: 20px 0;
        transform: translateY(-1000px);
        transition: all 0.5s;
    }
    .menu__list-item {
        padding: 20px 0;
        display: block;
    }
    .menu__btn {
        display: block;
        cursor: pointer;
        width: 35px;
        height: 24px;
        border: none;
        border-top: 2px solid #fefefe;
        border-bottom: 2px solid #fefefe;
        background-color: transparent;
        position: relative;
        outline: none;
    }
    .menu__btn::before {
        content: "";
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: #fefefe;
        left: 0;
        top: 9px;
    }
    .menu__list.menu__list--active {
        transform: translateY(0);
    }
    .rent__item {
        margin-bottom: 30px;
    }
    .feedback__images {
        display: none;
    }
    .rent,.benefits,.rewiews,.feedback,.footer {
        padding: 50px 0;
    }
}
@media (max-width: 650px){
    .rent__item {
        width: 100%;
        min-height: 245px;
        margin: 30px;
    }
    .rent__item-title {
        margin-bottom: 20px;
    }
    .rent__content {
        text-align: center;
    }
}
@media (max-width: 525px){
    .top__content {
        text-align: center;
        width: 100%;
    }
    .top__bottom {
        padding-bottom: 0px;
    }
    .top__title {
        font-size: 32px;
        min-width: 300px;
    }
    .top__text {
        font-size: 16px;
        min-width: 300px;
    }
    .top__items {
        flex-wrap: wrap;
    }
    .top__item {
        margin: 20px;
    }
    .top__slider-text {
        padding-top: 0;
    }
    .benefits__img {
        width: 70%;
    }
    .benefits__list-item {
        margin-right: 0;
        text-align: left;
        padding-right: 0;
        padding-left: 26px;
    }
    .benefits__list-item::after {
        left: 0;
        right: auto;
    }
}
@media (max-width: 450px){
    .footer__top {
        flex-direction: column;
        align-items: center;
    }
    .footer .phone {
        margin-top: 30px;
        display: inline-block;
    }
}
@media (max-width: 410px){
    .top__content {
        text-align: center;
        width: 100%;
    }
    .top__bottom {
        padding-bottom: 0px;
    }
    .top__title {
        font-size: 32px;
        min-width: 300px;
    }
    .top__text {
        font-size: 16px;
        min-width: 300px;
    }
    .top__item {
        margin: 30px 0;
    }
    .top__links {
        text-align: center;
    }
    .top__link {
        display: inline-block;
        margin: 10px 15px;
    }
    .top__slider-text {
        text-align: right;
    }
    .top__slider-text span {
        display: block;
        margin: 10px 0;
    }
    .rent__inner {
        margin: 10px 15px;
    }
    .rent__content {
        margin-left: 20px;
        text-align: center;
    }
}