$col1:#c5ac2d;
$col2:#1B1818;
$col3:#332208;
$col4:#fefefe;
html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    font-family: 'Roboto Condenced', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $col2;
}
.header{
    background: $col3;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    } 

}


a{
    text-decoration: none;
    color: #fff;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.menu{
    &__list{
        display: flex;
        list-style: none;
    }
    &__item{
        margin:0 15px 0 15px;
    }
    &__list-link{
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        line-height: 21px;
        padding-bottom: 5px;
        /* transition: all .5s; */
        border-bottom: transparent;
    }
    &__list-link:hover{
        border-bottom: 1px solid $col4;
    }
    &__btn{
        display: none;
    }
}
.phone{
    color: $col4;
    font-size: 18px;
    line-height: 21px;
}
.top{
    padding-bottom: 100px;
    &__heading{
        display: flex;
        padding: 50px 0 30px;
    }
    &__content{
        text-align: center;
        padding-top: 90px;
        width: 50%;
    }
    &__title{
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
        font-size: 48px;
        line-height: 50px;
        margin: 0 auto 20px;
        min-width: 455px;
    }
    &__text{
        font-size: 24px;
        line-height: 28px;
        margin: 0 auto 60px;
        min-width: 470px;
    }
    &__slider{
        width: 50%;
    }
    &__slider .slick-dots{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &__slider-text{
        padding-right: 100px;
        text-align: right;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
    }
    &__slider-text span + span{
        padding-left: 12px;
    } 
    &__bottom{
        display: flex;
        align-items: flex-end; 
        justify-content: space-between;
    }
    &__items{
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
    &__item{
        border: 1px solid $col2;
        padding: 10px;
        width: 150px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: all 0.5s;
    }
    &__item:hover{
        transform: scale(1.25);
        
    }
    &_links{
        padding-right: 80px;
    }
    &__link{
        color: $col2;
        border-bottom: 1px solid $col2;
    }
    &__link + .top__link{
        margin-left: 20px;
    }
}
.rent{
    padding: 100px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__content{
        width: 300px; 
        /* мин розмір екранів під які ми верстаємо, 320 px */
    }
    &__title{
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 30px
    }
    &__text{
        margin-bottom: 20px;
    }
    &__text + .rent__text{
        margin-bottom: 40px;
    }
    &__item{
        border: 1px solid #332208;
        width: 250px;
        min-height: 350px;
        padding: 0 35px 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__item-num {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
        font-size: 96px;
        line-height: 115px;
        opacity: 0.05;
         
    }
    &__item-title {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: auto;
    }

}
.slick-dots{
    list-style: none;
    text-align: center;

    &__slick-dots button{
        font-size: 0;
        width: 8px;
        height: 8px;
        padding: 0;
        background-color: $col3;
        border: none;
        border-radius: 50%;
    }
    &__slick-active button{
        width: 16px;
        height: 16px;
    }   
}

.application-btn{
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fefefe;
    background: #c5ac2d;
    padding: 16px 19px 15px;
    /* display: inline-block;  */
    transition: all .5s;
    border: 1px solid transparent;
    &-btn:hover{
        color: $col1;
        background: $col4;
        border: 1px solid $col1;
    }
}

.benefits{
    padding: 100px 0;
    &__title{
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 50px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list{
        width: 300px;
        list-style: none;
    }
    &__list-item{
        margin-bottom: 27px;
        padding-right: 26px;
        position: relative;
        text-align: right;
    }
    &__list-item::after{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #1B1818;
        right: 0; 
        top: 3px;
    }
    &__content{
        width: 300px;
        text-align: right; 
    }
    &__list-item:nth-child(1), .benefits__list-item:nth-child(7){
        margin-right: 10px;
    }
    &__list-item:nth-child(2), .benefits__list-item:nth-child(6){
        margin-right: 60px;
    }
    &.benefits__list-item:nth-child(3), .benefits__list-item:nth-child(5){
        margin-right: 100px;
    }
    &__list-item:nth-child(4){
        margin-right: 150px;
    }
    &__text{
        margin-bottom: 30px; 
        text-align: right;
    }
    &__text + .benefits__text{
        width: 267px;
        margin-left: auto;
    }

}
.video-popup{
    background-color: $col1;
    text-transform: uppercase;
    color: #fefefe;
    padding: 6px 34px 6px 64px;
    text-align: center;
    display: inline-block;
    position: relative;
    &-popup::before{
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        background-image: url(../images/play-btn.svg);
        top: 12px;
        left: 34px;
    }
}
.reviews{
    padding: 100px 0;
    background-color: $col3;
    color: $col4;
    &__slider .slick-dots button{
        background-color: $col1;
    }
    &__slider .slick-dots{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    }
    &__slider button{
        margin: 0 5px;
        line-height: 12px;
    }
    &__title{
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 70px;    
    }
    &__item{
        border: 1px solid $col1;
        padding: 45px 30px;
        /* display: flex; тому що перебиваэмо .slick-initialized .reviews__item */ 
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        width: 270px;
        min-height: 300px;
        margin-right: 30px;
    }
    &__item-name{
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
    }
    &-initialized .reviews__item{
        display: flex;
    }
    
}

.feedback{
    padding: 100px 0;
    &__inner{
        display: flex;
        align-items: center;
    }
    &__images{
        width: 50%;
    }
    &__form{
        width: 415px;
        margin: 0 auto;
    }
    &__title {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 5px; 
    }
    &__text {
        margin-bottom: 30px;
    }
    &__input {
        display: block;
        padding: 20px 0;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    &__input::placeholder{
        font-family: 'Roboto Condenced', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $col2;
    }
    &__btn {
        font-family: 'Roboto Condenced', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        color: #fefefe;
        border: none;
        display: inline-block;
        padding: 16px 36px 15px;
        background-color: #c5ac2d;
        margin-top: 50px;
        font-size: 16px;
        line-height: 19px;
        transition: all .5s;
        border: 1px solid transparent;
    }
    &__btn:hover{
        color: $col1;
        background: $col4;
        border: 1px solid $col1;
    }
}
.footer{
    padding: 100px 0 24px;
    background-color: #332208;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 21px;
    }
    &__social{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_social-link{
        margin: 0 15px;
    }
    
}









